/* HEADER */
.custom-link::before {
  content: '';
  display: block;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%) scaleX(1);
  width: 75%;
  height: 2px;
  background-color: currentColor;
  transition: width 0.3s ease, transform 0.3s ease;
}

.custom-link:hover::before {
  width: 50%;
  transform: translateX(-50%) scaleX(0.9);
}


/* STYLED BUTTON */
button.styled-button {
  position: relative;
  z-index: 1;
  background-color: transparent; /* Making sure the button has a transparent background */
}

button.styled-button span {
  z-index: -1;
  transform-origin: bottom left; /* Starting point for the hover effect */
}

/* The span scales from 0% width to 100% width on hover */
button.styled-button:hover span {
  transform: skewX(-12deg) skewY(-12deg);
}