<div class="d-flex justify-content-center align-items-center w-100">
    <div class="m-3 p-5 bg-dark-subtle">
        <div class="vstack gap-2 align-items-start justify-content-center">
            <h2 class="fw-bold mb-0">Welcome <%= user.discordUsername %>, goodluck!</h2>
            <ul class="d-grid gap-1 my-2 list-unstyled small">
                <li class="d-flex gap-4">
                    <div>
                        <div>
                            <strong>Github Username:</strong>
                            <%= user.githubName %>
                        </div>
                        <div>
                            <strong>Tracking:</strong>
                            <%= user.repoName %>
                        </div>
                        <div>
                            <strong>Timezone:</strong>
                            <%= user.timezone %>
                        </div>
                    </div>
                </li>
                <li class="d-flex gap-4 border-top my-4"></li>
                <li class="d-flex gap-4">
                    <div>
                        <h5 class="mb-0">Your streak starts when you do!</h5>
                        Once you make your first push to GitHub, your streak will start and you will have until 12am
                        the following day to keep it going.
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>