<img src="https://cdn.discordapp.com/avatars/181435740264202240/9e78e69953fcaa9d5147b0f309a0824d.png" />

<h1>Realtime Events</h1>
<!-- The list where the events will appear -->
<ul id="eventsList"></ul>

<!-- Include socket.io client and the script for real-time updates -->
<script>
    const socket = io.connect();

    socket.on('/realtime', function (data) {
        const list = document.getElementById('eventsList');

        // Create a new list item
        const listItem = document.createElement('li');

        // If there's an image URL, create an img element and set the src
        if (data.discordAvatar) {
            const imageElem = document.createElement('img');
            imageElem.src = data.discordAvatar;
            imageElem.alt = "Received image"; // you can change this to something more descriptive if needed
            imageElem.className = "discord-avatar"
            listItem.appendChild(imageElem);
        }

        // If there's a message, set the text content
        if (data.message) {
            const textElem = document.createTextNode(data.message); // using createTextNode to safely add text content
            listItem.appendChild(textElem);
        }

        list.appendChild(listItem);
    });
</script>